@use "./variables";

.hero_section{
    width: variables.$width ;
    height: variables.$heith;
    background: variables.$bg;
    display: variables.$display ;
    justify-content: variables.$justify ;
    align-items:variables.$align;
}
.hero_section button{
    margin-bottom:variables.$marginB;
    padding:variables.$paading;
    font-size: variables.$size;
    font-weight: variables.$wight;
    border-radius: variables.$rounded;
    outline: variables.$outline;
    border: variables.$border;
    background-color: variables.$bg-color;
}
section{
    .navbar{
      width: variables.$width;
      display:variables.$display;
      justify-content:variables.$content;
      font-size: variables.$size;
    }
}
.paragraph{
    font-size: variables.$sizepara;
}
#input{
    padding: variables.$pading;
    width: variables.$width2;
    background-color: variables.$bg2;
    color: variables.$color;
    font-size: variables.$sizepara;
    border-radius: variables.$rounded;
    border: variables.$border-solid;
    outline: variables.$outline;
}
::placeholder{
    color: variables.$color;
}
.photos{
    width:  variables.$width;
    display: variables.$display;
    justify-content:variables.$around;
    gap:variables.$gap;
}
#image{
    width: variables.$width;
    border-radius: variables.$radiaus;
     display: grid;
       grid-template-columns: repeat(auto-fit , minmax(370px , 1fr));
       margin: auto;
}
.image{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin: auto;
}
.container{
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    margin-top: 20px;
}
.star{
    margin-left: 10px;
    color: yellow;
}
.container P{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}
.baliz{
    display: flex;
    align-items: center;
    gap: 5px;
} 
.baliz p{
    margin: 0;
    color: orange;
}
.baliz span{
    color: orangered;
}
.favorits{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.color{
    color: red;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: rgb(198, 234, 239);
    position: sticky;
    bottom: 0;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.house,.plus,.heart2{
    font-size: 30px;
}
.heart{
    font-size: 20px;
}
.Page_details i{
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.details{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titre{
    margin: 0;
    font-family: sans-serif;
}
.para{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(4, 85, 85);
    color: white;
    font-family: sans-serif;
}
.elamentDetail{
    display: flex;
    justify-content: space-between;
}