$width : 100%;
$heith : 100vh;
$bg :url(/images/thumb@1024_553a9edf-2e82-4aaa-aed0-c54be7f6093d.jpg);
$display :flex;
$justify : center;
$align : flex-end; 
$marginB : 20px;
$paading : 30px 90px;
$size : 30px;
$wight : 700;
$rounded :20px;
$outline : none;
$border : none;
$bg-color : rgb(248, 228, 97);
$content : space-between;
$sizepara:20px;
$pading : 18px  30px;
$width2 : 70%;
$bg2 :rgba(219, 221, 221, 0.871);
$color : white;
$around : space-around;
$gap : 10px;
$border-solid :solid 2px;
$widthImage : 200px;  
$radiaus : 10px;