$width : 100%;
$heith : 100vh;
$bg :url(/images/go-green_healthy.jpg);
$display :flex;
$justify : center;
$align : flex-end; 
$marginB : 20px;
$paading : 30px 90px;
$size : 30px;
$wight : 700;
$rounded :20px;
$outline : none;
$border : none;
$bg-color : rgb(97, 217, 248);
$content : space-between;
$sizepara:20px;
$pading : 18px  30px;
$width2 : 70%;
$bg2 :rgba(73, 138, 139, 0.871);
$color : white;
$around : space-around;
$gap : 10px;
$border-solid :solid 2px;
$widthImage : 200px;  
$radiaus : 10px;