$bg : url(/images/go-green_healthy.jpg);
$flex : flex;
$flex-content: center;
$flex-titem : flex-end;
$bgcolor : aquamarine;
$font-size : 30px; 
$outline : none;
$border : none; 
$border-radius:30px;
$padding : 30px 80px;
$font-weight : 700;
$margin-bottom: 20px;
$height:100vh;
$width : 100%;
$display : none;
