.hero_section {
  width: 100%;
  height: 100vh;
  background: url(/images/thumb@1024_553a9edf-2e82-4aaa-aed0-c54be7f6093d.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero_section button {
  margin-bottom: 20px;
  padding: 30px 90px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgb(248, 228, 97);
}

section .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.paragraph {
  font-size: 20px;
}

#input {
  padding: 18px 30px;
  width: 70%;
  background-color: rgba(219, 221, 221, 0.871);
  color: black;
  font-size: 20px;
  border-radius: 20px;
  border: solid 2px;
  outline: none;
}

::-moz-placeholder {
  color: black;
  font-size: 25px;
}

::placeholder {
  color: black;
  font-size: 25px;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#image {
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  margin: auto;
}

.image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: auto;
}

.container {
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  margin-top: 20px;
}

.star {
  margin-left: 10px;
  color: yellow;
}

.container P {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.baliz {
  display: flex;
  align-items: center;
  gap: 5px;
}

.baliz p {
  margin: 0;
  color: orange;
}

.baliz span {
  color: orangered;
}

.favorits {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.color {
  color: red;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(198, 234, 239);
  position: sticky;
  bottom: 0;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.house, .plus, .heart2 {
  font-size: 30px;
}

.heart {
  font-size: 20px;
}

.Page_details i {
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.details {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre {
  margin: 0;
  font-family: sans-serif;
}

.para {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(4, 85, 85);
  color: white;
  font-family: sans-serif;
}

.elamentDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elem, p, span {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.elamentDetail div span {
  color: rgb(255, 255, 255);
  background-color: rgba(126, 126, 125, 0.945);
  padding: 10px;
  border-radius: 20px;
}

.elamentDetail div {
  margin-top: 30px;
}

#imageDetail {
  border-radius: 10px;
}

#h2 {
  font-family: sans-serif;
}

.paragraph {
  font-family: sans-serif;
  font-size: 25px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: sans-serif;
}

#image:hover {
  transition: 0.5s;
  transform: translateY(-10px);
}

@media (min-width: 1000px) {
  #image {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .image {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */